@import url("https://fonts.googleapis.com/css2?family=Gidole&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gidole", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Gidole", sans-serif;
}

$color-white: #ffffff;
$color-main: #0091ff;
$color-green: #99f65e;

$color-black: #000000;

@keyframes dropdown-open {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    .logo {
      a {
        img {
          max-width: 120px;
          transition: all 0.5s ease-in-out;
        }
      }
    }
    .links {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          a {
            display: block;
            text-decoration: none;
            color: $color-white;
            padding: 1rem 0.8rem;
            font-family: 1.1rem;
            font-weight: 600;
            height: 100%;
          }
        }
        .custom-dropdown {
          position: relative;
          ul {
            display: none;
            position: absolute;
            top: 3.5rem;
            left: 0;
            background-color: $color-white;
            min-width: 185px;
            border-radius: 0.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: dropdown-open 0.3s ease;

            li {
              display: block;
              border-bottom: 1px solid $color-main;
              a {
                display: flex;
                align-items: center;
                padding: 0.5rem 0.4rem;
                color: $color-main;
                font-weight: 600;
                span {
                  width: 30px;
                  height: 30px;
                  background-color: rgba(45, 51, 107, 0.3);
                  display: grid;
                  border-radius: 50%;
                  place-content: center;
                  margin-right: 0.5rem;
                  transition: all 0.3s ease-in-out;
                }
                &:hover {
                  span {
                    background-color: rgba(45, 51, 107, 0.5);
                    margin-right: 1rem;
                  }
                }
              }
            }
          }
          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
    .menu {
      display: none;
    }
  }

  @media all and (max-width: 992px) {
    .navigation {
      .links {
        display: none;
      }
      .menu {
        display: block;
        cursor: pointer;
      }
      .logo {
        a {
          img {
            max-width: 80px;
          }
        }
      }
    }
  }
}

.header-scroll {
  background-color: $color-black;
  .navigation {
    .logo {
      a {
        img {
          max-width: 80px;
        }
      }
    }
  }
}

.close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  .logo {
    img {
      max-width: 150px;
    }
  }
}

.hero {
  position: relative;
  height: 100vh;
  @media all and (max-width: 992px) {
    height: 70vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  @media all and (max-width: 992px) {
    height: 70vh;
  }
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/assets/img/hero.jpg") no-repeat center center/cover;

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  @media all and (max-width: 992px) {
    height: 70vh;
    video {
      height: 70vh;
      object-fit: cover;
    }
  }
}

.banner {
  min-height: 60vh;
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  padding-top: 10rem;
}

.team-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/team-banner.jpg");
}
.about-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/about-banner.jpg");
}

.news-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/news-banner.jpg");
}
.privacy-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/privacy-banner.jpg");
}
.values-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/values-banner.jpg");
}

.service-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/service-banner.jpg");
}
.contact-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/img/contact-banner.jpg");
}
.main-heading {
  font-family: "Boldonse", system-ui;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: $color-white;
  line-height: 1.7;
  letter-spacing: 4px;
  span {
    font-family: "Boldonse", system-ui;
    color: $color-main;
  }
  @media all and (max-width: 992px) {
    font-size: 1.4rem;
  }
}

.banner-heading {
  font-family: "Boldonse", system-ui;

  font-size: 2.5rem;
  font-weight: bold;
  color: $color-white;
  line-height: 2;
  letter-spacing: 4px;
  span {
    font-family: "Boldonse", system-ui;
    color: $color-green;
  }
  @media all and (max-width: 992px) {
    font-size: 1.4rem;
  }
}

.banner-para {
  font-size: 1.2rem;
  color: $color-white;
  margin-top: 1rem;
  line-height: 1.7;
  @media all and (max-width: 992px) {
    font-size: 1rem;
  }
}
.sec-heading {
  font-family: "Boldonse", system-ui;

  font-size: 2.5rem;
  font-weight: bold;
  color: $color-main;
  line-height: 1.7;
  letter-spacing: 4px;
  span {
    font-family: "Boldonse", system-ui;
    color: $color-green;
  }
  @media all and (max-width: 992px) {
    font-size: 1.4rem;
  }
}
.banner-sub-heading {
  font-family: "Gidole", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: $color-white;
  margin-top: 1rem;
  line-height: 1.7;
  letter-spacing: 2px;
}
.link {
  text-align: center;
  margin-top: 1.5rem !important;
  .banner-link {
    display: inline-block;
    border: $color-white 2px solid;
    color: $color-white;
    padding: 0.4rem 1.7rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
}

.sec {
  padding: 5rem 0;
  @media all and (max-width: 992px) {
    padding: 3rem 0;
  }
}

.custom-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

@keyframes SlideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

.modal-inner {
  background-color: $color-white;
  height: 100vh;
  position: absolute;
  right: 0;
  width: 350px;
  padding: 1rem;
  animation: SlideIn 0.5s ease-in-out forwards; // Adding animation
}

.mobile-links {
  margin-top: 2rem;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      border-bottom: 1px solid $color-main;
      a {
        display: block;
        text-decoration: none;
        padding: 0.5rem;
        color: $color-main;
      }
    }

    .custom-dropdown {
      // border: 0;
      ul {
        li {
          border-bottom: 1px solid $color-green;
          a {
            span {
              margin-right: 0.4rem;
            }
          }
          &:last-child {
            border: 0;
          }
          &:first-child {
            border-top: 1px solid $color-main;
          }
        }
      }
    }
  }
}

.close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  .logo {
    img {
      max-width: 80px;
    }
  }
}

.colored-link {
  margin-top: 1rem;
  a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: $color-main;
    border: 2px solid $color-main;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $color-main;
      color: $color-white;
    }
  }
}
.border-radius {
  border-radius: 0.5rem;
}

.bg-grey {
  background-color: #e9f7fc;
}

.feature-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  li {
    width: 49%;
    .feature-card {
      height: 100%;
      padding: 1rem;
      background-color: $color-white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 0.6rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-10px);
      }
      .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $color-main;
        display: grid;
        place-content: center;

        img {
          max-width: 30px;
        }
      }
      h4 {
        font-weight: bold;
        margin-top: 1rem;
      }
    }

    &:nth-child(even) {
      .feature-card {
        margin-top: 2rem;
      }
    }
  }

  @media all and (max-width: 992px) {
    li {
      width: 100%;
      .feature-card {
        margin-top: 0;
      }
      &:nth-child(even) {
        .feature-card {
          margin: 0;
          margin-top: 0;
        }
      }
    }
  }
}

.color-main {
  color: $color-main;
}
.color-white {
  color: $color-white;
}

.footer {
  padding: 2rem 0;
  background-color: $color-black;
  border-top: 1px solid $color-white;
}
.footer-logo {
  a {
    img {
      max-width: 120px;
    }
  }
}

.footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  li {
    padding-left: 1.5rem;
    position: relative;
    margin-bottom: 0.8rem;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 5px;
      background-color: $color-white;
      border-radius: 0.1rem;
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}

.footer-link {
  text-decoration: none;
  display: block;
  color: $color-white;
}

.values {
  position: relative;
  min-height: 100vh;
}

.valu-main {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30%;
  background-color: $color-main;
  border-radius: 50%;
  display: grid;
  place-content: center;
  span {
    width: 200px;
    height: 200px;
    background-color: $color-white;
    font-size: 2rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-weight: bold;
    color: $color-main;
    transition: all 0.3s ease-in-out;
    &:hover {
      width: 280px;
      height: 280px;
    }
    p {
      margin: 0s;
    }
  }

  @media all and (max-width: 992px) {
    width: 200px;
    height: 200px;
    position: unset;
    transform: unset;

    span {
      width: 150px;
      height: 150px;
      font-size: 1.5rem;
    }
  }
}

.values-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: absolute;

    a {
      text-decoration: none;
    }
    .value-card {
      width: 200px;
      height: 200px;
      background-color: $color-main;
      display: grid;
      place-content: center;
      border-radius: 50%;
      span {
        width: 150px;
        height: 150px;
        background-color: $color-main;
        font-size: 1.5rem;
        border-radius: 50%;
        text-transform: uppercase;

        display: grid;
        place-content: center;
        font-weight: bold;
        color: $color-white;
        transition: all 0.3s ease-in-out;
        &:hover {
          width: 180px;
          height: 180px;
          background-color: $color-white;
          color: $color-main;
        }
      }
    }

    &:nth-child(1) {
      top: 3vh;
      right: 50%;
    }

    &:nth-child(2) {
      top: 25vh;
      right: 65%;
    }
    &:nth-child(3) {
      top: 55vh;
      right: 65%;
    }
    &:nth-child(4) {
      top: 72vh;
      right: 50%;
    }
  }

  @media all and (max-width: 992px) {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
      position: unset;
      width: 48%;
      display: grid;
      place-content: center;
      .value-card {
        width: 150px;
        height: 150px;

        span {
          width: 120px;
          height: 120px;
          font-size: 1.2rem;
        }
      }
    }
  }

  @media all and (max-width: 768px) {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
      position: unset;
      width: 45%;
      display: grid;
      margin-bottom: 1rem;
      place-content: center;
      .value-card {
        width: 120px;
        height: 120px;

        span {
          width: 80px;
          height: 80px;
          font-size: 1rem;
        }
      }
    }
  }
}

.features-ul {
  list-style: none;
  padding: 0;
  margin-top: 3rem;

  li {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 5px;
      background-color: $color-main;
      border-radius: 0.1rem;
    }
  }
}

.present-ul {
  list-style: none;
  padding: 0;
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  li {
    width: 32%;
    .present-card {
      background-color: $color-white;
      padding: 1rem;
      min-height: 200px;
      border-radius: 0.5rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: all 0.3s ease-in-out;
      height: 100%;
      .icon {
        background-color: #e9f7fc;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        margin-bottom: 1rem;
        img {
          max-width: 50px;
        }
      }

      p {
        font-size: 1.3rem;
        font-weight: 500;
      }
      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  @media all and (max-width: 992px) {
    li {
      width: 49%;
    }
  }
  @media all and (max-width: 768px) {
    li {
      width: 100%;
    }
  }
}

.contact-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: 48%;

    .contact-card {
      background-color: $color-white;
      border-radius: 0.4rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: $color-main;
        display: grid;
        place-content: center;
        margin-bottom: 1rem;
      }

      .content {
        h5 {
          text-transform: uppercase;
          margin: 0;
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: $color-main;
          font-weight: 500;
        }
      }
    }

    .third-card {
      background-color: $color-main;
      color: $color-white;
      .icon {
        background-color: $color-white;
      }
    }
  }

  @media all and (max-width: 768px) {
    li {
      width: 100%;
    }
  }
}

.form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  border-radius: 0.4rem;
}
.field-container {
  margin-bottom: 0.5rem;
  label {
    font-size: 1rem;
    font-weight: 500;
    color: #302e2e;

    span {
      color: #ff0000;
      font-size: 1.2rem;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;

    box-shadow: none;
    outline: none;
    font-size: 1rem;

    &:focus {
      border-color: $color-green;
    }
  }

  textarea {
    min-height: 150px;
  }
}

.check-container-message {
  display: flex;
  align-items: flex-end;
  width: 100%;
  label {
    font-size: 0.8rem;
    display: inline-block;
    max-width: calc(100% - 30px);
  }
}

.submit-btn {
  background-color: $color-main;
  color: $color-white;
  padding: 0.7rem 1rem;
  border: 0;
  width: 100%;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.custom-checkbox {
  padding: 1rem;
  outline: none;
  box-shadow: none;
  margin-right: 0.5rem;
  border-color: #7f7c7c !important;
  width: 14px;
  height: 14px;
  &:checked {
    border-color: $color-green !important;
  }
}

.check-label {
  color: #313231;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.check-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.social {
  display: flex;

  margin-top: 2rem;
  gap: 1rem;
  a {
    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-white;
      display: grid;
      place-content: center;
      img {
        max-width: 24px;
      }
    }
  }
}

.team-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
  li {
    width: 49%;
    .team-card {
      border-radius: 0.6rem;
      background-color: $color-white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 1rem;
      height: 100%;
      .team-image {
        display: flex;
        align-items: center;
        .img-container {
          width: 120px;
          margin-right: 1rem;
          height: 120px;
          border-radius: 0.6rem;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
        .name-container {
          h4 {
            color: $color-main;
            font-weight: bold;
          }
        }
      }

      .team-content {
        margin-top: 1rem;
      }
    }
  }

  @media all and (max-width: 992px) {
    li {
      width: 100%;
    }
  }
}
